body {
	font-family: "Fira Sans", Arial, sans-serif;
	margin: 0px;
	color: #141414;
}

h1,
h2,
h3 {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1000px;
	padding: 40px 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 100px;
}

.subtitle {
	font-size: 8rem;
	line-height: 1;
	text-transform: uppercase;
	word-break: break-all;
	max-width: 4ch;
}

.aux-text {
	font-size: 1.5rem;
	max-width: 45ch;
	margin-bottom: 60px;
	color: #525252;
}

@media (max-width: 800px) {
	.subtitle {
		font-size: 3rem;
		text-transform: capitalize;
		max-width: initial;
	}
}


.js [data-anime="scroll"] {
	opacity: 0;
	transition: .3s;
	transform: translate3d(-30px, 0, 0);
}

.js [data-anime="scroll"].ativo {
	opacity: 1;
	transition: .3s;
	transform: translate3d(0, 0, 0);
}

